name: googleSheetMenu_development

on:
  repository_dispatch:
    types: [googleSheetMenu, googleSheetMenuWithoutOGP]

jobs:
  rspec:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Timezone
        run: |
          sudo timedatectl set-timezone Asia/Tokyo
      - uses: actions/checkout@v3
        with:
          ref: development
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16.14.2'
      - name: restore node_modules
        uses: actions/cache@v2
        id: node-modules-cache
        with:
          path: |
            node_modules
            **/node_modules
          key: ${{ runner.os }}-node-16-node_modules-${{ hashFiles('yarn.lock') }}
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: restore yarn cache
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node-16-yarn-${{ hashFiles('**/yarn.lock') }}
      - name: yarn install
        if: steps.node-modules-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1.1'
          bundler-cache: true
      - name: Copy data.json to master
        run: |
          curl -o data/daily_positive_detail.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/daily_positive_detail.json
          curl -o data/data.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/data.json
          curl -o data/patient_municipalities.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/patient_municipalities.json
          curl -o data/health_burden.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/health_burden.json
          curl -o data/positive_rate.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/positive_rate.json
          curl -o data/positive_status.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/positive_status.json
          curl -o data/news.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/news.json
          curl -o data/alert.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/alert.json
          curl -o data/urls.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/urls.json
          curl -o data/self_disclosures.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/self_disclosures.json
          curl -o data/main_summary.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/main_summary.json
          curl -o data/confirmed_case_area.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/confirmed_case_area.json
          curl -o data/confirmed_case_age.json https://raw.githubusercontent.com/suzuryo/covid19-iwate-data-bot/master/data/confirmed_case_age.json
      - name: Commit JSON files to development
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git status | grep modified && git add data && git commit -v -m "[Bot] update data/*.json at $(date +'%Y-%m-%dT%H:%M:%S%z')"
      - name: Push changes to development
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: development
      - name: yarn run generate:deploy for rspec
        run: |
          yarn run generate:deploy --fail-on-page-error
        env:
          TZ: Asia/Tokyo
      - name: run localhost:3000
        run: |
          yarn run start &
      - name: rspec
        run: |
          bundle exec rspec spec/feature/index/shared/index_h1h2_spec.rb
          bundle exec rspec spec/feature/check_broken_links_spec.rb
      - name: upload rspec screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: rspec-screenshots
          path: spec/screenshot
          retention-days: 3
